<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Line Stations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<div class="ui top fixed large menu">
    {% block nav_button %}
        <a class="item">
            <i class="train icon"></i>
        </a>
    {% endblock %}
    <span class="borderless item">Blue Line Schedule</span>
</div>
<div class="ui padded grid">
  <div class="column">
      {% block content %}
          <div class="ui centered card" id="closestStationDiv">
              <div class="content">
                  <a class="ui header" id="closestStationLink" href="#">
                      <i class="train icon"></i>
                      <div class="content">
                          <span id="closestStation"></span>
                          <div class="sub header">Closest Station</div>
                      </div>
                  </a>
              </div>
          </div>
      {% endblock %}
  </div>
</div>
</body>
</html>